body{
    background-color: #f3f5fc;
}

div.cuerpo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section.ingresarTexto{
    display: flex;
    flex-direction: column;
}

div.textoParaModificar{
    display: flex;
    flex-direction: column;
}

section.textoIngresado{
    display: flex;
    flex-direction: column;
}